<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versículo Sorteado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Versículo Aleatório</h1>
        <nav>
            <a href="{{ url_for('home') }}">Voltar para a Home</a>
            <a href="{{ url_for('dashboard') }}">Voltar ao Painel</a>
        </nav>
    </header>
    <section>
        <h2>Medite neste versículo:</h2>
        <p>{{ versiculo }}</p>
    </section>
</body>
</html>
